<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="UTF-8">
			<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		      <!-- Custom styles for this template -->
		  	<link href="../../css/simple-sidebar.css" rel="stylesheet">
		  	<link rel="stylesheet" href="../../css/estilos.css">
		  	<link rel="shortcut icon" href="../../files/img/ITMS2.jpg">
		</head>
	<body>

		<div class="container d_registro">
			<div class="row" style="background: #fff; border-bottom: 1px solid #000">
				<div class="col-sm-3">
					<a href="../../index.php">
						<img src="../../files/img/Logo ITMS.png" class="logologin">
					</a>
				</div>
				<div class="col-sm-9 t_login">
					Error!!!
				</div>	
			</div>

			<div class="row" style="justify-content: center;">
				<h5 style="margin-top:3%;">Ya existe un registro con ese numero de documento.</h5>
			</div>

			<div class="row" style="justify-content: center;">
				<a href="../../index.php" class="btn btn-outline-dark" style="margin-top:3% ">Volver</a>
    		</div>
		</div>


		<script src="../../vendor/jquery/jquery.min.js"></script>
      	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>